body {
  padding: 1em;
  margin: 0em;
  width: 20em;
  height: 30em;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.top {
  width: 100%;
  height: 50%;
  background-size: cover;
}

.bottom {
  width: 100%;
  height: 50%;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/6a/b9/22/6ab922c6f6e2db915185370371b77e98.jpg');
  background-size: contain;
}

.button {
  width: 50%;
  margin: 13% auto;
  display: block;
}

.photo-title {
  font-family: 'Lemonada', cursive;
  font-size: 1.4em;
  line-height: 1.8em;
}

.photo-credit {
  text-align: right;
  padding: 0.4em 0.6em;
  font-size: 0.85em;
  width: 10em;
  margin: 0 0 0 12em;
  opacity: 0;
  transition: all .5s ease;
}

.photo-credit.show {
  opacity: 1;
}
